@model ATP2.FMS.ViewModel.ProfileWorker

@{
    ViewBag.Title = "OtherViewPro2";
    Layout = "~/Views/Shared/AfterLoginWorker.cshtml";
}


<div class="container">

    <br />

    <div class="row" id="bgimage">

        <div class="col-md-3" style="">
            <div class="Container" style="box-shadow: 0 15px 40px rgba(80,138,255,0.5); ">
                <br />
                <div class="row">
                    <div class="col-md-2" style=""></div>
                    <div class="col-md-8" style="">
                        <div style=" border-width: 0px; height: 200px; width: 200px; left: 37px; top: 20px; overflow: hidden; " align="Center">

                            <img src="man.jpg" alt="Paris" style="border-radius: 50%;height: 200px; width: 200px; ">

                            <input class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" type="file">
                        </div>
                    </div>
                    <div class="col-md-2" style=""></div>



                </div>

                <br /><br />


                <div style=" border-width: 0px; height: 600px; width: 250px; overflow: hidden; color:white;">

                    <br /><br />



                    &nbsp;&nbsp;
                    Name
                    :
                    @Model.FristName &nbsp; @Model.LastName


                    <hr>
                    &nbsp;&nbsp;
                    Role
                    :
                    @Model.UserType


                    <hr>
                    &nbsp;&nbsp;
                    Email
                    :
                    @Model.Email




                    <hr>
                    &nbsp;&nbsp;
                    Date of Birth
                    :
                    @Model.DateofBrith



                    <hr>
                    &nbsp;&nbsp;
                    Join Date
                    :
                    @Model.JoinDate

                    <hr>
                    &nbsp;&nbsp;
                    City
                    :
                    @Model.City

                    <hr>
                    &nbsp;&nbsp;
                    State
                    :
                    @Model.State

                    <hr>
                    &nbsp;&nbsp;
                    Country
                    :
                    @Model.Country


                    <hr>
                    &nbsp;&nbsp;
                    Status
                    :
                    Active

                    <hr>



                </div>
                <div style=" border-width: 0px;  height: 40px; width: 110px; overflow: hidden;">
                    &nbsp;&nbsp;


                    <br /><br />
                </div>
            </div>
        </div>
        <div class="col-md-6" style="">
            <div class="row">
                <div class="col-md-12">
                    <div style=" border-width: 0px;  overflow: hidden;">
                        @*<fieldset>
                                <legend><h3>Current Jobs:</h3></legend>
                                <div class="list-group">
                                    @if (Model.PostAProject != null)
                                    {
                                        foreach (var p in Model.PostAProject)
                                        {
                                            <a href='@Url.Action("WorkProgressOwner","Project")/@p.PostId' class="list-group-item list-group-item-action flex-column align-items-start active">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@p.ProjectName</h5>
                                                    <small>@p.StartTime</small>
                                                </div>
                                                <p class="mb-1">@p.Description</p>

                                            </a>
                                        }
                                    }



                                </div>

                            </fieldset>*@

                    </div>

                  
                    <div style=" border-width: 0px; overflow: hidden; ">
                        <h1 class="display-3" style="text-shadow: 2px 2px #FF0000;;">About Me</h1>


                        <input type="checkbox" id="chkPassport1" onclick="ShowHideDiv1(this)" />
                        Show my Skills

                        <div id="dvPassport1" style="display: none">
                            <p class="lead" style="color:white">


                                <ol>
                                    @foreach (var v in Model.Skills)
                                    {
                                        <li>@v.SkillName</li>
                                    }


                                </ol>






                            </p>
                            <hr class="my-4">
                        </div>
                        <br /><br /><br />

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3" style="">
            <div class="container-fluid" style="box-shadow: 0 15px 40px rgba(39,40,43,1); color:white;">


                <h1 align="center">$@Model.ratePerHour</h1><hr>
                <div style=" border-width: 0px;  ">
                    &nbsp; &nbsp;Ratings:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    @Model.tot
                    <div>
                        &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                        <a class="btn  btn-success" data-toggle="modal" data-target=".bootstrapmodal">view</a>

                        <div class="modal fade bootstrapmodal">
                            <div class="modal-dialog">


                                <div class="modal-content">


                                    <div class="modal-header">
                                        <button data-dismiss="modal" class="close">
                                            <span>&times;</span>
                                        </button>
                                        <h3>Rating Chart</h3>

                                    </div>
                                    <div class="modal-title">

                                    </div>

                                    <div class="modal-body">
                                        <div id="piechart"></div>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><hr><br>
                    &nbsp; &nbsp;<font color="#00ff40">@Model.CcommunicationSkill%</font>&nbsp; &nbsp; &nbsp; Communication Skill<br><br><br>
                    &nbsp; &nbsp;<font color="#00ff40">@Model.OonTime%</font>&nbsp; &nbsp; &nbsp; On Time <br><br><br>
                    &nbsp; &nbsp;<font color="#00ff40">@Model.OonBudget%</font>&nbsp; &nbsp; &nbsp; On Budget<br><br><br>
                    &nbsp; &nbsp;<font color="#00ff40">@Model.Ccompleteness%</font>&nbsp; &nbsp; &nbsp; Completeness<br><br><br>
                    &nbsp; &nbsp;<font color="#00ff40">@Model.Bbehaviour%</font>&nbsp; &nbsp; &nbsp; Behaviour<br><br><br>

                </div><br /><br />



            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    function ShowHideDiv(chkPassport) {
        var dvPassport = document.getElementById("dvPassport");
        dvPassport.style.display = chkPassport.checked ? "block" : "none";
    }
    function ShowHideDiv1(chkPassport1) {
        var dvPassport = document.getElementById("dvPassport1");
        dvPassport.style.display = chkPassport1.checked ? "block" : "none";
    }
</script>
@section scripts
{
    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Communication Skil', @Model.Ccompleteness],
                ['On Time', @Model.OonTime],
                ['On Budget', @Model.OonBudget],
                ['Completeness', @Model.Ccompleteness],
                ['Behaviour', @Model.Bbehaviour]

            ]);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'', 'width':550, 'height':400};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
}



