@using System.Web.Mvc.Html
@model ATP2.FMS.ViewModel.PostEditModel
@{
    ViewBag.Title = "CreateProjectEdit";
    Layout = "~/Views/Shared/AfterLoginOwner.cshtml";
}


<div class="container">

    <br />
    @using (Html.BeginForm("CreateProject", "Project"))
    {
        <form class="form-horizontal">
            <br />

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="box-shadow: 0 15px 40px rgba(80, 138, 255, 0.5);">
                    <fieldset>
                        <legend>Creating Job</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Project Name</label>
                            <div class="col-lg-10">
                                <input class="form-control" value="@Model.PostAProject.ProjectName" name="ProjectName" id="inputEmail" placeholder="e.g Design a web page for a website" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" value="" name="Description" rows="3" id="textArea" placeholder="Describe your Project">@Model.PostAProject.Description</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Write skills</label>
                            
                            <div class="col-lg-10">
                                @Html.DropDownListFor(m => m.SkillName, new SelectList(Model.ProjectSkills, "SkillName", "SkillName"), "--Select--",  new { @class = "form-control" })

                                @*@Html.DropDownList("SkillName", (MultiSelectList)ViewBag.Categories, new { multiple = "multiple" })*@








                            </div>
                        

                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Budget</label>
                            <div class="col-lg-10">
                                <input class="form-control" value="@Model.PostAProject.Price" name="Price" id="inputEmail" placeholder="Budget" type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputName1" value="@Model.PostAProject.StartTime" name="StartTime" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Start Time">
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="inputName" class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputName2" value="@Model.PostAProject.EndTime" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="EndTime" placeholder="End Time">
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Required member</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="Members" value="@Model.PostAProject.Members" id="inputEmail" placeholder="Number of member" type="text">

                            </div>
                        </div>
                        +


                        <div class="form-group">
                            <div class="col-lg-4 col-lg-offset-2">
                                <a href="JobHome.html">
                                    <button type="button" class="btn btn-default " onclick="">Cancel</button>
                                </a>
                            </div>
                            <div class="col-lg-3 col-lg-offset-2">
                                <a href="">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </a>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3"></div>
            </div>


        </form>

    }
</div>
<script>
        function myFunction() {
            var x = document.getElementById("mySelect").value;
            document.getElementById("div1").innerHTML = "";
            for (i = 0; i < x; i++) {
                //alert("hello"+i);
                var para = document.createElement("p");
                para.id = 'text' + i;

                var node = document.createTextNode("");
                para.appendChild(node);
                var element = document.getElementById("div1");
                element.appendChild(para);
                document.getElementById("text" + i).innerHTML = "<input class='form-control' id='inputEmail' name='SectionName' placeholder='Section Name' type='text'><br/>";
            }

        }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

