@model FMS.Core.Entities.EducationalBackground


@{
    ViewBag.Title = "EducationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<br />
@using (Html.BeginForm("EducationForm", "User"))
{
    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-4">


            <form class="form-horizontal">
                <fieldset>
                    <br />
                    <br />
                    <i><h3 align="center">Educational Information</h3></i>
                    <hr />

                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-4 control-label">UserId</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="UserId" id="inputUserName" placeholder="Id" type="text">
                            @Html.ValidationMessageFor(m => m.UserId)

                        </div>

                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-4 control-label">School</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="School" id="inputUserName" placeholder="School" type="text">
                            @Html.ValidationMessageFor(m => m.School)
                        </div>

                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-4 control-label">Collage</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="Collage" id="inputUserName" placeholder="Collage" type=" text">
                            @Html.ValidationMessageFor(m => m.Collage)
                        </div>

                    </div>
                    <br />


                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-4 control-label">PostGraduate</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="UniversityPost" id="inputUserName" placeholder="Post Graduate" type=" text">
                            @Html.ValidationMessageFor(m => m.UniversityPost)
                        </div>

                    </div>
                    <br />

                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-4 control-label">UnderGraduate</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="UniversityUnder" id="inputUserName" placeholder="Under Graduate" type=" text">
                            @Html.ValidationMessageFor(m => m.UniversityUnder)
                        </div>

                    </div>
                    <br />

                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-4 control-label">Others</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="Others" id="inputUserName" placeholder="Others" type=" text">
                            @Html.ValidationMessageFor(m => m.Others)
                        </div>

                    </div>

                    <br />
                    <br />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-9">
                            <input type="submit" value=" Submit  " class="btn btn-default btn-block" />
                        </div>

                    </div>
                    <br />
                    <div class="form-group">
                        <div align="right">

                            <button type="reset" class="btn btn-primary" onclick="">Next</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <hr>
            Already a Lance Bucket.com member?@Html.ActionLink("Login", "Login", "LogIn")
        </div>


        <div class="col-md-4"></div>
    </div>

}

<br />
<br />





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

